<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-formateur-sidenav></app-formateur-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-formateur-header (toggleSidebarForMe)="sideBarToggler()"></app-formateur-header>
  
      <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Documents
          <div class="example-button-row"> 
            <button mat-raised-button (click)="openDialog()"><mat-icon>add</mat-icon>
            Ajouter</button>
          </div>
        </div>
        </div>
        
        <div class="page__content shadow p-3 position-relative">
          <div class="mat-elevation-z8 data-table">
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

              <ng-container matColumnDef="nomD">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
                <td mat-cell *matCellDef="let row"> </td>
              </ng-container>
          
              <ng-container matColumnDef="formation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Formation </th>
                <td mat-cell *matCellDef="let row">  </td>
              </ng-container>
           

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button color="primary" ><mat-icon>send</mat-icon></button>
                  <button mat-icon-button color="primary" ><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button color="warn" ><mat-icon>delete</mat-icon></button>
                  
                </ng-container>

              
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>  
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        
      </div>
  </mat-drawer-content>


</mat-drawer-container>