<h1 mat-dialog-title>Ajouter un formateur</h1>
<div mat-dialog-content>
    <form [formGroup]="formateurForm">
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input formControlName="email"  type="email"  id="email" name="email" matInput placeholder="E-mail"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input formControlName="firstName"  type="text" id="firstName" name="firstName" matInput placeholder="Nom"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input formControlName="lastName"   type="text" id="lastName" name="lastName" matInput placeholder="Prénom"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input formControlName="username"  type="text" id="username" name="username" matInput placeholder="Nom d'utilisateur"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password"  type="text" id="password" name="password" matInput placeholder="Password"/>
        </mat-form-field>
        
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" mat-dialog-close (click)="addFormateur()">{{actionBtn}}</button>
</div>