<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Admin_Dashboard
        <div class="example-button-row"> 
          
        </div>
      </div>
      </div>
      
      <div class="page__content shadow p-3 position-relative">
        <h2>Bienvenue dans l'espace Admin</h2>
      </div>
        

  </mat-drawer-content>


</mat-drawer-container>