<h1 mat-dialog-title>Ajouter une formation</h1>
<div mat-dialog-content>
    <form [formGroup]="formationForm">
        <mat-form-field appearance="outline">
            <mat-label>Titre</mat-label>
            <input formControlName="titre" id="titre" name="titre" matInput placeholder="Titre"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input formControlName="description" id="description" name="description" matInput placeholder="Description"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date de Debut</mat-label>
            <input matInput  type="date" formControlName="dateDebut" id="dateDebut" name="dateDebut"  placeholder="Date de Debut"/>
            <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>-->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date Fin</mat-label>
            <input matInput type="date" formControlName="dateFin" id="dateFin" name="dateFin"  placeholder="Date de Fin"/>
            <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>-->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Durée</mat-label>
            <input formControlName="duree" id="duree" name="duree" matInput placeholder="Durée"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Image</mat-label>
            <input formControlName="image" id="image" name="image" matInput placeholder="Image">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Lien</mat-label>
            <input formControlName="lien" id="lien" name="lien" matInput placeholder="Lien">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Thème du formation</mat-label>
                <mat-select formControlName="theme" name="theme">
                <mat-option *ngFor="let theme of themes" [value]="theme.id" >
                    {{theme.codeTheme}}
                </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Selectionner un formateur</mat-label>
                <mat-select formControlName="formateur" name="formateur">
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{user.firstName}}
                    {{user.lastName}}
                </mat-option>
            </mat-select>
          </mat-form-field>

        
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" mat-dialog-close (click)="addFormation()">{{actionBtn}}</button>
</div>